name: Clang CIR clang-tidy linting

permissions:
  contents: read

on:
  workflow_dispatch:
  push:
    branches:
      - 'main'
    paths:
      - 'clang/lib/CIR/FrontendAction/**'
      - '.github/workflows/clang-cir-lint.yml'
  pull_request:
    branches:
      - main
      - 'users/**'
    paths:
      - 'clang/lib/CIR/FrontendAction/**'
      - '.github/workflows/clang-cir-lint.yml'

concurrency:
  # Skip intermediate builds: always.
  # Cancel intermediate builds: only if it is a pull request build.
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ startsWith(github.ref, 'refs/pull/') }}

jobs:
  code_linter:
    if: github.repository_owner == 'llvm'
    runs-on: ubuntu-24.04
    steps:
      - name: Fetch LLVM sources
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          fetch-depth: 2

      - name: Get changed files that triggers rerun
        id: changed-files
        uses: tj-actions/changed-files@24d32ffd492484c1d75e0c0b894501ddb9d30d62 # v47.0.0
        with:
          files: |
            .github/workflows/clang-cir-lint.yml
            clang/lib/CIR/FrontendAction/**
          separator: ","
          skip_initial_fetch: true
          base_sha: 'HEAD~1'
          sha: 'HEAD'

      - name: Listed files
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          echo "Changed files:"
          echo "$CHANGED_FILES"

      - name: Install clang-tidy
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: aminya/setup-cpp@17c11551771948abc5752bbf3183482567c7caf0 # v1.1.1
        with:
          clang-tidy: 20.1.8

      - name: Setup Python env
        if: steps.changed-files.outputs.any_changed == 'true'
        uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6.0.0
        with:
          python-version: '3.12'

      - name: Configure and CodeGen
        if: steps.changed-files.outputs.any_changed == 'true'
        run: |
          cmake -G Ninja \
                -B build \
                -S llvm \
                -DLLVM_ENABLE_ASSERTIONS=OFF \
                -DLLVM_ENABLE_PROJECTS="clang;mlir" \
                -DCMAKE_CXX_COMPILER=clang++ \
                -DCMAKE_C_COMPILER=clang \
                -DCMAKE_EXPORT_COMPILE_COMMANDS=ON \
                -DLLVM_INCLUDE_TESTS=OFF \
                -DCLANG_INCLUDE_TESTS=OFF \
                -DMLIR_INCLUDE_TESTS=OFF \
                -DCMAKE_BUILD_TYPE=Release \
                -DLLVM_TARGETS_TO_BUILD=host \
                -DCLANG_ENABLE_CIR=ON

          ninja -C build mlir-headers clang-tablegen-targets

      - name: Run run-clang-tidy
        if: steps.changed-files.outputs.any_changed == 'true'
        env:
          CHANGED_FILES: ${{ steps.changed-files.outputs.all_changed_files }}
        run: |
          ./clang-tools-extra/clang-tidy/tool/run-clang-tidy.py \
                -p build "$CHANGED_FILES" \
                -checks="-*,readability-identifier-naming" \
                -warnings-as-errors="-*,readability-identifier-naming" \
                -j $(nproc)
